.com-buttons-button {

    background:             var(--color-primary-background);
    border:                 1px solid var(--color-primary);
    border-radius:          var(--border-radius);
    box-shadow:             0 0 2px var(--color-primary);
    color:                  var(--color-primary-text);
    cursor:                 pointer;
    font-size:              var(--font-size-m);
    height:                 var(--button-size);
    padding:                2px;
    touch-action:           manipulation;
    user-select:            none;
    -webkit-user-select:    none;
    width:                  var(--button-size);
}

.com-buttons-button:active,
.com-buttons-button.is-active {

    background:             var(--color-secondary);
    border-color:           var(--color-secondary);
    box-shadow:             0 0 3px var(--color-secondary);
    color:                  var(--color-background);
}

.com-buttons-button:disabled {

    background:             var(--color-background);
    border-color:           var(--color-primary-background);
    color:                  var(--color-primary);
}
