.com-app {

    display:                flex;
    flex-direction:         column;
    gap:                    var(--gap);
    margin:                 0 auto;
    max-width:              100vw;
    padding:                var(--gap);
    user-select:            none;
    -webkit-user-select:    none;
    width:                  var(--app-width);
}
