.com-transpose {

    align-items:            center;
    display:                flex;
    gap:                    var(--gap);
    justify-content:        space-between;
}

.com-transpose > .note,
.com-transpose > .octave {

    width:                  calc( var(--gap) + 2 * var(--button-size ));
    height:                 var(--button-size );
}
