.com-select {
    
    position:               relative;
}

.com-select > select {

    box-shadow:             none;
    cursor:                 pointer;
    height:                 100%;
    outline:                none;
    width:                  100%;
}

.com-select > .label {

    align-items:            center;
    background:             var(--color-background);
    bottom:                 0;
    border-bottom:          1px solid var(--color-secondary);
    box-shadow:             inset 0 -10px 10px -10px var(--color-secondary);
    color:                  var(--color-secondary);
    cursor:                 pointer;
    display:                flex;
    font-size:              var(--font-size-l);
    justify-content:        center;
    left:                   0;
    padding:                2px;
    pointer-events:         none;
    position:               absolute;
    right:                  0;
    text-align:             center;
    top:                    0;
    word-break:             break-word;
}
