.com-select-with-next-previous {

    align-items:            stretch;
    display:                flex;
    gap:                    var(--gap);
    justify-content:        space-between;
}

.com-select-with-next-previous > .next,
.com-select-with-next-previous > .previous {

    flex:                   0 0 auto;
}

.com-select-with-next-previous > .select {

    width:                  calc( 2 * var(--button-size) + var(--gap) );
}
