.com-chord-player {

    align-items:            stretch;
    display:                grid;
    gap:                    var(--gap);
    grid-template-areas:
        "A E B Fis"
        "F C G D"
        "Cis Gis Dis Ais";
    grid-template-columns:  1fr 1fr 1fr 1fr;
    grid-template-rows:     1fr 1fr 1fr;
    justify-items:          stretch;
}

.com-chord-player > .chord {

    position:               relative;
    word-break:             break-word;
}

.com-chord-player > .chord::after {

    bottom:                 0;
    color:                  var(--color-primary);
    content:                '';
    display:                block;
    font-size:              var(--font-size-s);
    position:               absolute;
    right:                  0;
    width:                  1em;
}

.com-chord-player > .chord:active::after,
.com-chord-player > .chord.is-active::after {

    display:                none;
}

.com-chord-player > .chord:nth-child(1) {   grid-area:  C;      }
.com-chord-player > .chord:nth-child(2) {   grid-area:  Cis;    }
.com-chord-player > .chord:nth-child(3) {   grid-area:  D;      }
.com-chord-player > .chord:nth-child(4) {   grid-area:  Dis;    }
.com-chord-player > .chord:nth-child(5) {   grid-area:  E;      }
.com-chord-player > .chord:nth-child(6) {   grid-area:  F;      }
.com-chord-player > .chord:nth-child(7) {   grid-area:  Fis;    }
.com-chord-player > .chord:nth-child(8) {   grid-area:  G;      }
.com-chord-player > .chord:nth-child(9) {   grid-area:  Gis;    }
.com-chord-player > .chord:nth-child(10) {  grid-area:  A;      }
.com-chord-player > .chord:nth-child(11) {  grid-area:  Ais;    }
.com-chord-player > .chord:nth-child(12) {  grid-area:  B;      }

.com-chord-player > .chord:nth-child(1)::after {    content:    's';    }
.com-chord-player > .chord:nth-child(2)::after {    content:    'z';    }
.com-chord-player > .chord:nth-child(3)::after {    content:    'f';    }
.com-chord-player > .chord:nth-child(4)::after {    content:    'c';    }
.com-chord-player > .chord:nth-child(5)::after {    content:    'w';    }
.com-chord-player > .chord:nth-child(6)::after {    content:    'a';    }
.com-chord-player > .chord:nth-child(7)::after {    content:    'r';    }
.com-chord-player > .chord:nth-child(8)::after {    content:    'd';    }
.com-chord-player > .chord:nth-child(9)::after {    content:    'x';    }
.com-chord-player > .chord:nth-child(10)::after {   content:    'q';    }
.com-chord-player > .chord:nth-child(11)::after {   content:    'v';    }
.com-chord-player > .chord:nth-child(12)::after {   content:    'e';    }

@media( hover: none ){
    .com-chord-player > .chord::after {

        display:                none;
    }
}
