* {
    box-sizing:             border-box;
}

html, body {

    font-family:            sans-serif;
    font-size:              100%;
    margin:                 0;
    overflow-x:             hidden;
    padding:                0;
}

html {

    background-color:       var(--color-background);
    color:                  var(--color-primary-text);
}

body {
    background-image:       url('./top-background.svg');
    background-position:    top left;
    background-repeat:      repeat-x;
}

a {
    color:                  var(--color-secondary);
}

@media( max-width: 480px ){
    body {
        background-image:   none;
    }
}
