:root {
    --color-background:         #001;

    --color-primary:            #79f;
    --color-primary-background: #111c33;
    --color-primary-text:       #eef;

    --color-secondary:              #f6e;
    --color-secondary-background:   #201;

    --font-size-s:              80%;
    --font-size-m:              100%;
    --font-size-l:              127%;
    --font-size-xl:             162%;
    --font-size-xxl:            200%;

    --app-width:                480px; /* 4 * 80 + 5 * 32 */
    --border-radius:            8px;
    --button-size:              80px;
    --gap:                      32px;
    --keyboard-note-width:      12px;
}

@media( max-width: 480px ){
    :root {
        --app-width:            100vw;
        --button-size:          16.67vw;
        --gap:                  6.67vw;
        --keyboard-note-width:  2.5vw;

        --font-size-s:          2.62vw;
        --font-size-m:          3.33vw;
        --font-size-l:          4.23vw;
        --font-size-xl:         5.39vw;
        --font-size-xxl:        6.66vw;
    }
}
